[submodule "vim"]
	path = vim
	url = git@github.com:benzimmer/dotvim.git
[submodule "antigen"]
	path = antigen
	url = ./antigen
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/erikw/tmux-powerline.git
